body {
    margin: 0;
    padding: 0;
}

.landing-page-video-mp4 {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.main-header {
    position: fixed;
    z-index: 3 !important;
    width: 100%;
    overflow: hidden;
    /* background: #00000052; */
    /* height: 100vh; */
}

.main-header-white {
    position: fixed;
    z-index: 3 !important;
    width: 100%;
    overflow: hidden;
    /* height: 100vh; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-position 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-image: linear-gradient(to right, transparent 50%, white 50%);
    background-size: 200% 100%;
    background-position: -100% 0;

}

.main-header-border {
    border-bottom: 1px solid hsla(0, 0%, 100%, .25);
}

.link-item {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    top: 22px;
    background-color: none;
    border-top: none;
    transition: border-top 0.5s ease-in-out, background-color 0.5s ease-in-out;
    background-image: linear-gradient(to right, none, none);
    background-size: 200% 100%;
    background-position: -100% 0;
}

.link-item-white {
    color: black !important;
}

.link-item:hover {
    background-color: white !important;
    border-top: 3px solid #04a0aa !important;
    color: black !important;
}

.list-link {
    display: inline-block !important;
    padding: 0px !important;
}

.video-effect {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1 !important;
}

.logo-image {
    width: 20%;
}

.home-page-link {
    padding-top: 26px;
    padding-bottom: 26px;
    display: flex;
}

.home-page-link-text {
    font-size: 18px !important;
    margin-left: 14px !important;
    margin-top: 9px !important;
    color: white;
    font-weight: 600 !important;
}

.home-page-link-text-white {
    font-size: 18px !important;
    margin-left: 14px !important;
    margin-top: 9px !important;
    color: black;
    font-weight: 600 !important;
}

.body-main-content {
    position: absolute;
    top: 20rem;
    z-index: 2 !important;
    /* width: 100%; */
    overflow: hidden !important;
}

.video-backgound-color {
    background: #0000003b;
    height: 116.68vh;
    position: absolute;
    z-index: 2 !important;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.body-content-text {
    font-size: 40px !important;
    color: white;
    line-height: 1.2 !important;
}

.body-context-text-style {
    font-style: italic;
    padding-bottom: 10px;
    background-image: url('../image/underline-image.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.body-content-small-text {
    color: white;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-top: 11px;
}

.right-arrow {
    color: #04a0aa;
    margin-top: -10px;
    text-align: start;
    cursor: pointer;
    position: relative;
    left: 0px !important;
    margin-left: 20px ;
    transition: margin-left 0.3s ease-in-out;
}

.right-arrow:hover {
    margin-left: 30px !important;
}

.body-content-margin {
    margin-top: 5rem !important;
}

.body-content-small-margin {
    padding: 25px !important;
}

.home-page-card-background {
    background-color: #F6F6F6;
    border: 1px solid #EDEDED;
    cursor: pointer !important;
    transition: border 0.5s ease-in-out;
    border-radius: 5px;
}

.home-page-card-background:hover {
    border: 1px solid #04a0aa;
}

.card-icon {
    background-color: white !important;
    padding: 20px;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    color: black;
    transition: border-right 0.5s ease-in-out, border-bottom 0.5s ease-in-out, color 0.5s ease-in-out;
    border-radius: 5px 0px 5px 0px;
}

.home-page-card-background:hover .card-icon {
    border-right: 1px solid #04a0aa;
    border-bottom: 1px solid #04a0aa;
    color: #04a0aa;
}

.card-title {
    margin-bottom: 6px !important;
    font-size: 22px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.card-paragraph {
    margin-bottom: 22px !important;
    font-size: 15px !important;
    line-height: 1.62 !important;
    color: #74787C;
    font-weight: 400 !important;
}

.card-button {
    background-color: white !important;
    border: 1px solid #EDEDED !important;
    color: #04a0aa !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 11px !important;
    padding-left: 27px !important;
    padding-right: 27px !important;
    border-radius: 5px !important;
    touch-action: manipulation !important;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
    white-space: nowrap;
}

.card-button:hover {
    background-color: #04a0aa !important;
    color: white !important;
    border: 1px solid white !important;
}

.about-background {
    background-color: #04a0aa !important;
}

.about-image-content {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.image-title {
    color: white;
    margin-bottom: 0;
    font-size: 19px !important;
    font-weight: 600 !important;
    margin-top: 8px !important;
    text-transform: uppercase !important;
}

.about-title {
    line-height: 1.2 !important;
    padding-top: 70px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 35px !important;
}

.about-title-position {
    font-size: 160px !important;
    font-weight: 600 !important;
    line-height: 0.75 !important;
    margin-bottom: 0;
    color: #F0F0F0;
    z-index: -1;
    position: absolute;
    left: 0px !important;
    top: 0;
}

.about__content {
    margin-bottom: 45px !important;
    font-size: 18px !important;
    color: #74787C;
    margin-top: 15px !important;
    line-height: 1.62 !important;
}

.about-icon-design {
    width: 90px !important;
    height: 90px !important;
    perspective: 1000px;
    /* background-color: #F6F6F6 !important; */

    font-size: 50px;
    line-height: 0;
    color: #04a0aa;
}

.about-icon-flip {
    height: 100%;
    width: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.about-flip-front {
    background-color: #F6F6F6;
    height: 100%;
    width: 100%;
    border-radius: 50% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}


.about-icon-design:hover .about-icon-flip {
    transform: rotateY(180deg);
}

.about-border-bottom {
    border-bottom: 1px solid #ECECEC;
    padding-bottom: 30px;
}


.about-card-title {
    margin-bottom: 6px !important;
    font-size: 20px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.footer-background-color {
    border-top: 3px solid #04a0aa;
    background-color: #F6F6F6;
    padding: 30px !important;
}

.footer-icon-design {
    background: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px !important;
    margin-right: 12px !important;
}

.footer-icon-design:hover {
    background-color: #04a0aa !important;
    color: white;
}

.footer-link {
    color: #414242;
    font-size: 15px !important;
    font-weight: 400 !important;
    text-decoration: none;
    margin-left: 10px !important;
    width: 100% !important;
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.footer-link:hover {
    color: #04a0aa !important;
    text-decoration: underline !important;
}

.footer-form-design {
    background-color: white !important;
    padding: 10px !important;
    border: 1px solid #EDEDED !important;
}

.form-design {
    height: 40px;
    border: none;
    width: 100%;
    margin-right: 10px;
}

.form-button {
    width: 100% !important;
    background: #01a0aa;
    border: none;
    height: 41px;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.news-image-design {
    width: 100% !important;
    border-radius: 10px !important;
    transition: transform 0.3s ease;
}

.news-image-design:hover {
    transform: scale(1.1);
}

.news-event-title {
    font-size: 19px !important;
    color: black;
    font-weight: 600 !important;
    text-align: justify !important;
    margin-bottom: 10px !important;
}

.read-more-button {
    color: #74787c;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    left: 0px !important;
    transition: left 0.3s ease-in-out !important;
}

.read-more-button-icon {
    position: relative;
    top: 6px;
    left: 0px !important;
    transition: left 0.3s ease-in-out !important;
    color: #01a0aa;
}

.read-more-button-icon:hover {
    left: 7px !important;
}